body {
	margin:0;
	padding:0;
	width:100%;
	background:#fff;
	font-size:90%;
}

a {
	color:#000;
}

a:hover {
	color:#ff007f;
	text-decoration:none;
}

h1 {
	color:#ff007f;
	margin:.8em 0 .2em 0;
	padding:0;
}

h2, h3 {
	color:#878787;
	margin:.8em 0 .2em 0;
	padding:0;
}

p {
	margin:.4em 0 .8em 0;
	padding:0;
}

img {
	margin:10px 0 5px;
}



#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}


#nav {
	clear:both;
	background:#878787;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}

table {
	width: 100%;
	line-height: 100%;
	border-collapse: collapse;
	border: 1px solid #666;
	text-align: left;
	
}



td {
	text-align: left;

}

th {
	background-color: #CCC;
	color: #333;
	padding: 0.3em;
}

.odd_row {
	background-color: #666;

}

form {
		width: 100%;
		line-height: 100%;
		text-align: left;
}

input {
	background-color: #FFF;
	border: 1px solid #666;
	
}

button {
	background-color: #FFF;
	border: 1px solid #666;
	
}

.column {
	position:relative;	
	clear:both;
	float:left;
	width:100%;			
	overflow:hidden;		
}


.featured,
.maininfo,
.updates {
	float:left;
	width:100%;			
	position:relative;
}

.one,
.two,
.three {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	overflow:hidden;
}


.featured {
	background:#eee;		
}
.featured .maininfo {
	right:25%;			
	background:#fff;		
}


.featured .updates {
	right:50%;			
	background:#f4f4f4;	
}
.featured .none {
	width:46%;			
	left:102%;			
}
.featured .two {
	width:21%;			
	left:31%;			
}
.featured .three {
	width:21%;			
	left:85%;			
}	


#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}

#footer p {
	padding:10px;
	margin:0;
}



/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 925px) {

	body {
		background-color: #CCC;
		font-family: arial;
		
}

img {display: none;
	
}	

.featured .updates {
	float: none;
	right:100%;			
	background:#f4f4f4;	
}
.featured .one {
	float: none;
	width:100%;			
	left:100%;			
}
.featured .two {
	float: none;
	width:100%;			
	left:100%;			
}
.featured .three {
	float: none;
	width:100%;			
	left:100%;			
}	

}

/* Mobile Landscape  */

@media screen and (min-width: 320px) and (max-width: 480px) {

	body {
		background-color: #CCC;
		font-family: arial;
		
}

img {display: none;
	
}

.featured .updates {
	float: none;
	right:100%;			
	background:#CCC;	
}
.featured .one {
	float: none;
	width:100%;			
	left:100%;			
}
.featured .two {
	float: none;
	width:100%;			
	left:100%;			
}
.featured .three {
	float: none;
	width:100%;			
	left:100%;			
}	

}

/* Mobile Landscape  */

@media screen and (max-width: 500px) {

	body {
		background-color: #CCC;
		font-family: arial;
		
	}

img {display: none;
	
}
	

.featured .updates {
	float: none;
	right:100%;			
	background:#FFF;	
}
.featured .one {
	float: none;
	width:100%;			
	left:100%;			
}
.featured .two {
	float: none;
	width:100%;			
	left:100%;			
}
.featured .three {
	float: none;
	width:100%;			
	left:100%;			
}	

}