body{
	font-family: 'verdana', cursive;
	font-size: 0.750em;
	margin: 0 auto;
	background-color: #FFF;
}

a{
	text-decoration: none;
	display: inline;
	color: #000;
}

a:hover{
	color: #ff69b4;
	background: #fff;
}